.lockout_Display {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.Detail_Card {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 35%;
  left: 50%;
  width: 320px;
  height: 300px;
  border-radius: 10px;
  z-index: 11;
  animation: Detail_Card 0.5s ease-out forwards;
}

.detail_Card_Header {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 5px;
  gap: 20px;
  font-size: 24px;
  font-weight: bold;
}

.img_Pokemon {
  width: 80px;
  height: 80px;
}

.close_Button {
  position: fixed;
  right: 10px;
  display: flex;
  border-radius: 100%;
  background-color: #ffcb05;
  height: 34px;
  width: 34px;
}

.close_Button:hover {
  cursor: pointer;
  background-color: rgba(255, 203, 5, 0.5);
}

.Detail_Card hr {
  border-color: black;
  border-width: 2px;
}

.poke_Detail_ID {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcb05;
  width: 60px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;

}

.detail_Card_Infos {
  width: 310px;
  background-color: bisque;
  height: 250px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;


}

.detail_Card_Menu {
  display: flex;
  height: 50px;
  gap: 20px;
  padding: 5px;
  margin-bottom: 10px;
}


.detail_Card_footer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

}

.detail_Card_footer img {
  border-radius: 100%;
  background-color: #ffcb05;
  height: 34px;
  width: 34px;

}


.detail_Card_footer :hover {
  cursor: pointer;
  background-color: rgba(255, 203, 5, 0.5);

}

.Card_Detail_About {
  display: flex;
}

.Card_Detail_BaseStats {
  display: none;
}

.tab_about td {
  width: 200px;
  padding-top: 20px;
  vertical-align: top;
}

.td1 {
  font-weight: bold;
}


.tab_basestate {
  border-collapse: separate;
  border-spacing: 10px 0;
  width: 100%;
}


.tab_basestate td {
  width: 100%;
  padding-top: 5px;
  vertical-align: middle;
}


.progress {
  width: 100px;
  height: 5px;
  background-color: grey;
}




.btn_About,
.btn_Base {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  background-color: bisque;
}


.btn_About:hover,
.btn_Base:hover {
  background-color: rgba(255, 203, 5, 0.5);
}


.btn_About_aktiv {
  border-bottom: 10px;
  border-color: #ffcb05;
  border-style: solid;
}


.Card_Detail_About {
  display: flex;
}


.btn_Base_aktiv {
  border-bottom: 10px;
  border-color: #ffcb05;
  border-style: solid;
}

.Card_Detail_BaseStats {
  display: none;
}


@keyframes Detail_Card {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    /* Start: sehr klein */
    opacity: 0;
    /* Unsichtbar */
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    /* Endposition: Normalgröße */
    opacity: 1;
    /* Vollständig sichtbar */
  }
}
