* {
  margin: 0;
  padding: 0px;
  border: 0 solid transparent;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

.navbar {
  height: 100px;
  background-color: #f8f9fa;
  z-index: 4;
}


.form-control:focus {
  border-style: none;
  box-shadow: 0 0 0 0.25rem #ffcb05;
}


.container_Card {
  position: relative;
  top: 100px;
}


.loader {
  display: flex;
  position: fixed;
  top: 320px;
  left: calc(100% / 2);
  width: 66px;
  height: 66px;
  background-image:
    linear-gradient(#ffcb05 16px, transparent 0),
    linear-gradient(#326ab2 16px, transparent 0),
    linear-gradient(#326ab2 16px, transparent 0),
    linear-gradient(#ffcb05 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
  z-index: 5;
}


.nextButton {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-center {
  display: flex;
  justify-content: center;
}


footer {
  width: 100%;
  height: 50px;
}


@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg)
  }

  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg)
  }

  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg)
  }

}

.form-control {
  margin-right: 30px;
}

.row {
  margin-top: 0px;
}


@media (max-width: 460px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .form-control {
    margin-top: 10px;
    margin-right: 0;
  }

  .navbar {
    height: 180px;
  }

  .row {
    margin-top: 50px;
  }


}
